[user]
	name = Shubham Chaudhary
	email = shubham.chaudhary@kdemail.net
	logallrefupdates=true
[core]
	editor = vi
[credential]
	helper = cache --timeout=360000
[push]
	default = matching
[alias]
	lol = log --oneline --graph --decorate
    lof = log --pretty=fuller
	st = status -s
	unstage = reset HEAD --
	last = log -1 HEAD
[color]
	ui = true

