[user]
	name = Shubham Chaudhary
	email = shubham.chaudhary@kdemail.net
[core]
	editor = vi
[credential]
	helper = cache --timeout=3600
[push]
	default = matching
[alias]
	lol = log --oneline --graph --decorate
	st = status -s
[color]
	ui = true

